  <div class="d-flex justify-content-center m-3">
    <div class="card blist-success mb-3" style="max-width: 540px; background-color: #cbd5e0;">
      <div class="row g-3">
        <div class="col-md-8">
          <div class="card-body">
            <table class="table">
              <tbody>
                <tr>
                  <td>Customer Name:</td>
                  <td class="card-text">
                    <%= @user_id %>
                  </td>
                </tr>
                <tr>
                  <td>Book:</td>
                  <td class="card-text">
                    <%= @book_id %>
                  </td>
                </tr>
                <tr>
                  <td>Quantity:</td>
                  <td class="card-text">
                    <%= @quantity %>
                  </td>
                </tr>
              </tbody>
            </table>
            <%= button_to 'Order Cancel' , "" , method: :delete, class: 'btn btn-primary btn-sm mx-3' %>
              </td>
              <%= link_to "Update" , '#' , class: "btn btn-primary btn-sm mx-3" %>
          </div>
        </div>
      </div>
    </div>
  </div>