<h3 class="text-center mt-3">Order Update</h3>
  <%= form_with url: update_order_path, local: true do |f| %>
  <div class="mt-4" style="margin-left: 40%;">
    <div class="mb-3">
      <label class="col-md-2 control-label">Quantity</label>
      <%= f.number_field :quantity, value: @order[:quantity] %>
    </div>
    <div class="mb-3">
      <label class="col-md-2 control-label">Payment</label>
      <%= f.select :payment_type, @payment, {selected: @order[:payment_type]} %>
    </div>
    <div class="mb-3">
      <label class="col-md-2 control-label">Address</label>
      <%= f.text_field :address, value: @order[:address] %>
    </div>
    <div class="mt-3 mx-5">
      <%= link_to 'cancel' , '/' , class: 'btn btn-primary btn-sm' %>
      <%= f.submit 'update' , class: 'btn btn-primary btn-sm mx-3' %>
    </div>
  </div>
  <% end %>