<% @order_list.each do |list| %>
  <div class="d-flex justify-content-center m-3">
    <div class="card blist-success mb-3" style="max-width: 560px; background-color: #cbd5e0;">
      <div class="row g-0">
        <div class="col-md-4">
          <%= image_tag("img/#{list.image}", :class=> "img-fluid rounded-start", :alt=> "") %>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <table class="table">
              <tbody>
                <tr>
                  <td>Arriving:</td>
                  <td class="card-text">
                    <%= list.delivery_time.strftime "%A, %m/%d" %>
                  </td>
                </tr>
                <tr>
                  <td>Customer Name:</td>
                  <td class="card-text">
                    <%= list.name %>
                  </td>
                </tr>
                <tr>
                  <td>Address:</td>
                  <td class="card-text">
                    <%= list.address %>
                  </td>
                </tr>
                <tr>
                  <td>Order Total:</td>
                  <td class="card-text bi bi-currency-yen">
                    <%= list.total_amount %>
                  </td>
                </tr>
                <tr>
                  <td>Payment Method:</td>
                  <td class="card-text">
                    <%= list.payment_type %>
                  </td>
                </tr>
              </tbody>
            </table>
            <% if list.created_at <=list.delivery_time %>
              <%= link_to 'Order Cancel', "orders/#{list.id}", method: :delete, data: { confirm: "Are you sure order cancel?" },
                class: 'btn btn-primary btn-sm mx-2' %>
              <%= link_to 'Edit', "orders/#{list.id}/edit" , class: 'btn btn-primary btn-sm text-white w-25' %>
            <% else %>
              <marquee><p class="text-danger small">注文日が3日を超えましたので編集またはキャンセルできません!</p></marquee>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>