<div class="d-flex justify-content-center mt-5">
  <%= form_with scope: :book, url: order_path, local: true do |f| %>
  <h1 class="text-center">Book Detail</h1>
    <div class="d-flex justify-content-center m-3">
      <%= image_tag("img/#{@book.id}.jpg", :alt=> "") %>
    </div>
    <table class="table">
      <tbody>
        <tr>
          <td>Book Title:</td>
          <td>
            <%= @book.book_title %>
              <%= f.hidden_field :book_id, value: @book[:id] %>
          </td>
        </tr>
        <tr>
          <td>Description:</td>
          <td>
            <%= @book.description %>
          </td>
        </tr>
        <tr>
          <td>Delivery Date:</td>
          <td>
            <%= @delivery_time.strftime "%A, %b %d %H:%M" %>
            <%= f.hidden_field :delivery_time, value: @delivery_time %>
          </td>
        </tr>
        <tr>
          <td>Shipping Fee:</td>
          <td>¥ <%= @book.delivery_fee %>
          </td>
        </tr>
        <tr>
          <td>Price:</td>
          <td>¥ <%= @book.price %>
          </td>
        </tr>
        <td>Quantity:</td>
        <td>
          <%= f.number_field :quantity, :value=> 1, min: 1, max: 30, :style => "width:15%;" %>
        </td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-center m-3">
      <%= link_to "Cancle" , root_path, class: "btn btn-primary mx-3" %>
        <%= f.submit "Buy Now" , class: "btn btn-primary" %>
    </div>
    <% end %>
</div>