<div class="container-fluid-sm" style="background-color: #E0FFFF;">
<h2 class="d-flex justify-content-center">Log in</h2>
<div class="d-flex justify-content-center">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
    </div>
  <% end %>
  

  <div class="actions">
    <%= f.hidden_field :origin, value: params[:origin] %>
    <%= f.hidden_field :quantity, value: params[:quantity] %>
    <%= f.submit "Log in", class: 'btn btn-primary btn-sm'%>
  </div>
<% end %>
</div>
<%= render "devise/shared/links" %>
</div>
<div class="container">
  <div class="row justify-content-center align-items-center" style="height:100vh">
      <div class="col-4">
          <div class="card">
              <div class="card-body">
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                  <form action="" autocomplete="off">
                      <div class="form-group">
                          <input type="text" class="form-control" name="username">
                      </div>
                      <div class="form-group">
                          <input type="password" class="form-control" name="password">
                      </div>
                      <button type="button" id="sendlogin" class="btn btn-primary">login</button>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
