<nav class="navbar fixed-top rounded navbar-expand-sm navbar-light bg-light border border-success">
  <%= image_tag 'img/bookstore.png' , :class=> "navbar-brand ps-4" %>
  <div class="navbar-nav ms-auto mx-5 mb-sm-0">
    <%= link_to("Home", "/" , {class: "nav-link bi bi-house-door-fill text-success" } ) %>

    <% if user_signed_in? %>
      <%= link_to 'Logout' , destroy_user_session_path, method: :delete, :class=> "nav-link bi bi-box-arrow-right text-success" %>
    <% else %>
      <%= link_to 'Create Account' , '/users/sign_up' , :class=> "nav-link bi bi-person-lines-fill text-success" %>
      <%= link_to 'Login' , new_user_session_path, :class=> "nav-link bi bi-box-arrow-in-right text-success" %>
    <% end %>
  </div>
</nav>